.row
{
	margin-top: 20px;
}

.profile-info {
	margin-top: 1em;
}

.profile-image {
	border-radius: 4px;
	margin-right: 0.5em;
}

.word-wrap
{
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

.panel-heading > a{
	color: white;
}

.link-description
{
	font-size: 0.8em;
}

.post-img
{
	display: block;
	margin: auto;
}