.row
{
	margin-top: 20px;
}

.profile-info {
	margin-top: 1em;
}

.profile-image {
	border-radius: 4px;
	margin-right: 0.5em;
}

.word-wrap
{
	

	-ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;



}

.word-wrap-old {
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

.panel-body > p {
	/*text-align: justify;  */
    -webkit-hyphens: auto;  
    -moz-hyphens: auto;  
    hyphens: auto; 
}

.panel-heading > a {
	color: white;
}

.link-description
{
	font-size: 0.8em;
}

.post-img
{
	display: block;
	margin: auto;
}

.modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal-body {
    overflow-y: auto;
}
.modal-footer {
    margin-top: 0;
}

@media (max-width: 767px) {
  .modal-dialog-center {
    width: 100%;
  }
}
